h1{
color: black;
  font-weight: bold;
  font-style: arial;
  background-color: red;
}
h2{
  color: white;
  font-style: arial;
  background-color: red;
}
h3{
  color: black;
  font-style: arial;
  background-color: red;
}
